# Ignore notebook checkpoints
.ipynb_checkpoints

# Ignore temp model files
tmp.pth

# Ignore saved models, since they are huge and can be re-computed
*.pth

# Ignore generated spectrograms
*.png

# Ignore compiled python artifacts
*.pyc

# Ignore dotfiles
.*
!.gitignore

# Ignore virtual env stuff
/venv
