<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Audio analysis result.</title>
  <meta name="description" content="A tool that can classify water as hot or cold from the sound of pouring.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/"><h1>ML: Hot or Cold</h1></a>
        <span>A tool that can classify water as hot or cold from the sound of pouring.</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h2>How to record and upload an audio file:</h2>
        <ul>
          <li>
            iPhone:
            <ol>
              <li>Open the "Voice Memos" app</li>
              <li>Tap the record button to start recording</li>
              <li>Tap the record button again to stop recording</li>
              <li>Tap on your recording, then tap the "..." in the bottom left</li>
              <li>Tap "Save to files"</li>
              <li>Save to either "iCloud Drive", or "On My iPhone" (any folder in either location is okay)</li>
              <li>When on this website, click "Choose File"</li>
              <li>In the resulting prompt, choose "Browse"</li>
              <li>In the file browser, click browse in the bottom right again (even if it's highlighted)</li>
              <li>Choose the location you saved the recording to ("iCloud Drive" or "On My iPhone")</li>
              <li>Navigate to the recording, and select it</li>
            </ol>
          </li>
          <li>
            Windows 10:
            <ol>
              <li>Open the "Voice Recorder" app</li>
              <li>Click the record button to start recording</li>
              <li>Click the stop button to stop recording</li>
              <li>
                By default your saved audio file will be in: "Documents\Sound recordings"
                <ul>
                  <li>You can quickly navigate to a recording's location by right clicking the recording in the "Voice Recorder" app and choosing "Open file location"</li>
                  <li>By default your recording will be named "Recording.m4a" or "Recording (number).m4a", where number is some number >= 1</li>
                  <li>You can rename recordings in the "Voice Recorder" app by right clicking your recording and choosing "Rename"</li>
                </ul>
              </li>
              <li>When on this website, click "Choose File" and navigate to your recording to select it for analysis</li>
            </ol>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/">⤺Click here to go back⤺</a>
      </div>
    </div>
  </div>
</body>
</html>
