<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ML: Hot or Cold</title>
  <meta name="description" content="A tool that can classify water as hot or cold from the sound of pouring.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/"><h1>ML: Hot or Cold</h1></a>
        <span>A tool that can classify water as hot or cold from the sound of pouring.</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <p>Choose an audio recording of water pouring, and see if the model guesses the temparature correctly!</p>
        <p>(P.S.: For help, see this <a href="/how-to">how-to guide</a> to record and upload audio from an iPhone or a Windows 10 PC)</p>
        <p>For the purposes of this ML model temparatures >= 175℉ are considered hot, and temparatures <= 75℉ are considered cold.</p>
      </div>
    </div>
    <br>
    <div class="row" style="text-align: center;">
      <div class="col-lg-6 offset-lg-3">
        <form action="/evaluate_audio_sample" method="post" enctype="multipart/form-data">
          <h4>Upload an audio file of water pouring:</h4>
          <div class="row">
            <div class="col">
              <p><input type="file" name="file" accept="audio/*"></p>
            </div>
            <div class="col">
              <p><input type="submit" value="Analyze chosen file"></p>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col">
        OR
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col">
        <h4>Choose an example below:</h4>
        <div class="row">
          <div class="col-lg-6">
            <p><a href="/evaluate_example?file=cold-sample-40f.m4a">Test this example of cold water (40℉)</a></p>
            <audio controls preload="none">
              <source src="/static/example-audio/cold-sample-40f.m4a" type="audio/mp4" />
              <p>Couldn't load audio preview.</p>
            </audio>
            <p><a href="/evaluate_example?file=cold-sample-73f.m4a">Test this example of cold water (73℉)</a></p>
            <audio controls preload="none">
              <source src="/static/example-audio/cold-sample-73f.m4a" type="audio/mp4" />
              <p>Couldn't load audio preview.</p>
            </audio>
          </div>
          <div class="col-lg-6">
            <p><a href="/evaluate_example?file=hot-sample-175f.m4a">Test this example of hot water (175℉)</a></p>
            <audio controls preload="none">
              <source src="/static/example-audio/hot-sample-175f.m4a" type="audio/mp4" />
              <p>Couldn't load audio preview.</p>
            </audio>
            <p><a href="/evaluate_example?file=hot-sample-212f.m4a">Test this example of hot water (212℉)</a></p>
            <audio controls preload="none">
              <source src="/static/example-audio/hot-sample-212f.m4a" type="audio/mp4" />
              <p>Couldn't load audio preview.</p>
            </audio>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <hr />
        <div class="row">
          <div class="col-5">
            Created by: <a href="https://www.chrisjeakle.com">Chris Jeakle</a>
          </div>
          <div class="col-2">
            |
          </div>
          <div class="col-5">
            <a href="https://github.com/cjjeakle/ml-hot-or-cold">View project source</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


