<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Audio analysis result.</title>
  <meta name="description" content="A tool that can classify water as hot or cold from the sound of pouring.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/"><h1>ML: Hot or Cold</h1></a>
        <span>A tool that can classify water as hot or cold from the sound of pouring.</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <p>This page is a work-in-progress.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/">⤺Click here to go back⤺</a>
      </div>
    </div>
  </div>
</body>
</html>
