<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ML: Hot or Cold</title>
  <meta name="description" content="A tool that can classify water as hot or cold from the sound of pouring.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <a href="/"><h1>ML: Hot or Cold</h1></a>
        <span>A tool that can classify water as hot or cold from the sound of pouring.</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <p>Choose an audio recording of water pouring, and see if the model guesses the temparature correctly!</p>
        <p>(P.S.: For help, see this <a href="/how-to">how-to guide</a> to record and upload audio from an iPhone or a Windows 10 PC)</p>
        <p>For the purposes of this ML model temparatures >= 175℉ are considered hot, and temparatures <= 75℉ are considered cold.</p>
      </div>
    </div>
    <br>
    <div class="row center-text">
      <div class="col-lg-6 offset-lg-3">
        <form action="/evaluate_audio_sample" method="post" enctype="multipart/form-data">
          <p>Choose an audio file of water pouring:</p>
          <input type="file" name="file" accept="audio/*">
          <input type="submit" value="Test chosen file">
        </form>
      </div>
    </div>
    <div class="row center-text">
      <div class="col-lg-6 offset-lg-3">
        <hr />
        <div class="row">
          <div class="col-lg-5">
            Created by: <a href="https://www.chrisjeakle.com">Chris Jeakle</a>
          </div>
          <div class="col-lg-2">
            |
          </div>
          <div class="col-lg-5">
            <a href="https://github.com/cjjeakle/ml-hot-or-cold">View project source</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


